.animate {
  width: 360px;
  height: 530px;
  @media screen and (min-width: 768px) {
    width: 728px;
  }
  @media screen and (min-width: 1440px) {
    width: 900px;
  }
}

.animateContainer {
  width: 320px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--card_bg_color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 11px 25px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 15px;
  // background: radial-gradient(
  //   circle farthest-corner at center center,
  //   #c9c0b0 15%,
  //   #cfc6b6 38%,
  //   #e8decb 74%,
  //   #ffffff 100%
  // );
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 400px;
  }
  @media screen and (min-width: 1440px) {
    width: 700px;
    height: 400px;
  }
}

.textContainer {
  position: absolute;
  top: -35px;
  left: 16px;
  padding: 8px 24px;
  background-color: #060606;
  color: #ffffff;
  border-radius: 8px;
  z-index: -1;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 55px,
    rgba(0, 0, 0, 0.12) 0px -5px 20px, rgba(0, 0, 0, 0.12) 0px 6px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 55px,
  //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text {
  font-size: 16px;
}

.carouselCaption {
  display: flex;
  align-items: center;
}
