.listWrapper {
  display: flex;
  column-gap: 16px;
  padding: 0;
  @media screen and (min-width: 768px) {
    column-gap: 25px;
  }
}

.itemSocialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  outline: 1px solid var(--fill_color_link);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  &:hover {
    cursor: pointer;
    outline-offset: 4px;
    animation: shake 0.25s;
  }
  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

.iconSocialLink {
  display: block;
  width: 15px;
  height: 15px;
  fill: var(--fill_color_link);
  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }
}

.instagram:hover {
  outline: 1px solid #dc2743;
  background-color: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  &:hover .iconSocialLink {
    fill: #ffffff;
  }
}

.facebook {
  &:hover,
  &:focus {
    background-color: #4267b2;
    outline: 1px solid #4267b2;
    &:hover .iconSocialLink {
      fill: #ffffff;
    }
  }
}

.telegram {
  &:hover,
  &:focus {
    background-color: #229ed9;
    outline: 1px solid #229ed9;
    &:hover .iconSocialLink {
      fill: #ffffff;
    }
  }
}

.linkedin {
  &:hover,
  &:focus {
    background-color: #0e76a8;
    outline: 1px solid #0e76a8;
    &:hover .iconSocialLink {
      fill: #ffffff;
    }
  }
}
