.imgBorder {
  --s: 350px; /* the size of the image */
  --b: 8px; /* the border thickness*/
  --g: 14px; /* the gap */
  --c: #163b1b; /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid #0009;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;

  border: none;
  &:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
}
